@model List<int>
<section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="w3-stats-inner-info">
            <div class="row">
                <div class="col-6 stats_info counter_grid text-left">
                    <span class="fa fa-smile-o"></span>
                    <p class="counter">@Model[0]</p>
                    <h4>Happy Members</h4>
                </div>
                <div class="col-6 stats_info counter_grid1 text-left">
                    <span class="fa fa-users"></span>
                    <p class="counter">@Model[1]</p>
                    <h4>Blogs</h4>
                </div>
            </div>
        </div>
    </div>
</section>
