<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>GezginGözlemci</title>
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"><!-- google fonts -->
<!-- Template CSS -->
<link rel="stylesheet" href="~/Content/travel/assets/css/style-liberty.css">
<script src="https://kit.fontawesome.com/17f6642d7e.js" crossorigin="anonymous"></script>
<!-- Template CSS -->
